body {
    margin: 0;
}
/* credit for fullscreen video style: https://stackoverflow.com/questions/23248441/resizing-video-element-to-parent-div */
#black {
    background-color: black;
    height: 100vh;
}
video {
    display: none;
}
img {
    display: none;
}
